*, *::before, *::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
	font-size: 62.5%; 
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
  background-color: rgb(23, 35, 23);
  color: beige;
  min-height: 100vh;
}
img, picture, canvas, video, svg {
	display: block;
	max-width: 100%;
}
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}
input, button, textarea, select {
	font: inherit;
}
#root, #__next {
	isolation: isolate;
}
main {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  text-align: center;
  background-color: black;
  font-size: 2rem;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deck-cards {
  display: flex;
  padding: 0 0 30px 70px;
  min-height: 200px;
  flex-wrap: wrap;
}
.card {
  position: relative;
  margin-left: -50px;
  width: 150px;
  background-color: transparent;
}
.divControls {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 12px;
  background-color: rgb(19, 30, 26);
  display: flex;
  justify-content: space-between;
}