*, *::before, *::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
	font-size: 62.5%; 
}
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
  background-color: rgb(23, 35, 23);
  color: beige;
  min-height: 100vh;
}
img, picture, canvas, video, svg {
	display: block;
	max-width: 100%;
}
p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
  margin: 0;
  padding: 0;
}
input, button, textarea, select {
	font: inherit;
}
#root, #__next {
	isolation: isolate;
}
main {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  text-align: center;
  background-color: #131a16;
  font-size: 2rem;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h2 {
  font-size: 24px;
  font-weight: 600;
}
h1 {
  padding: 18px 0 8px 0;
  font-weight: 600;
}
.deck-cards {
  display: flex;
  padding: 0 0 30px 70px;
  min-height: 220px;
  flex-wrap: wrap;
}
.card {
  position: relative;
  margin-left: -70px;
  width: 120px;
  background-color: transparent;
}
.divControls {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 24px 16px;
  background-color: #131e1a;
  display: flex;
  justify-content: space-between;
}
.divControls > button {
  padding: 4px 24px;
  font-size: 2rem;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  border: none;
}
.divControls > button:disabled {
  background-color: #7e7e7e;
  color: #b3b3b3;
}
.resetBtn {
  background-color: #383838;
}
.takeBtn {
  background-color: #294729;
}
.stopBtn {
  background-color: #473929;
}